{% extends "layout.html" %} {% block body %}
<h1>Registrants</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sport</th>
    </tr>
  </thead>
  <tbody>
    {% for name in registrants %}
    <tr>
      <td>{{name}}</td>
      <td>{{registrants[name]}}</td>
    </tr>
    <td>
      <form action="/deregister" method="post">
        <input type="hidden" name="id" value="{{registrant.id}}" />
        <button type="submit">Deregister</button>
      </form>
    </td>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
