{% extends "layout.html" %}

{% block title %}
   History
{% endblock %}

{% block main %}

     <table>
      <thead>

         <tr><th>
            Symbol
         </th>

         <th>Shares</th>
         <th>Price</th>
         <th>Transacted</th>
      </tr>
      </thead>
      <tbody>
          {% for info in transaction_info %}
            <tr>
               <td>{{info.symbol}}</td>
               <td>{{info.shares}}</td>
               <td>{{info.price | usd}}</td>
               <td>{{info.purchase_date}}</td>

            </tr>
         {% endfor %}




      </tbody>
     </table>

{% endblock %}

